body{
    font-family: 'Source Sans Pro', sans-serif;
}
.text{
    width: 60%;
    text-align: justify;
    
}
h1{
    color: tomato;
    font-size: 36px;

}
h2{
    color: dodgerblue;
}
.heading{
    text-align: center;
}
#logokmin{
    width: 200px;
    height: 200px;
    position: fixed;
    bottom:  50%;
    right: 0;
    transform: translateY(50%)
    

}