#img{
    width: 200px;
    height: 200px;
   
    background-size: 200px;
    
    border: solid;color: white;
    border-width: 10px;
    
}



h1{
    color: white;
    margin-left: 350px;
    margin-top: 200px;

}
body{
    background-image: url(./img/cover.jpg);
    background-size: 1500px 300px ;
    background-repeat: no-repeat;
}
.avarta{
    position: absolute ;
    top: -20px;
    left: 100px;
}
.cover{
    position: relative;
}