body{
    text-align: center;
    background-image: linear-gradient(to right,#fcbf16,#992154);
}
#heading{
    color: white;
     margin-top: 50px;
     margin-bottom: 100px;
     word-spacing: 5px;
}
#img{
    border-radius: 50%;
}
